<!doctype html>
<html ng-app="<%= appName %>">
<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <title><%= appName %></title>

  <!-- style -->
  <link href="../../dist/assets/styles/<%= projectName %>-global-components-latest.css" rel="stylesheet">
  <link href="assets/styles/<%= _.slugify(name) %>-app-latest.css" rel="stylesheet">

</head>

<!-- all global bower and none-bower components glued -->
<script src="../../dist/assets/components/<%= projectName %>-global-components-latest.min.js"></script>
<!-- or beautify -->
<!-- script src="../../dist/assets/components/<%= projectName %>-global-components-beautify-latest.js"></script>

<!-- all modules scripts glued together -->
<script src="assets/components/<%= _.slugify(name) %>-app-modules-latest.min.js"></script>

<!-- dependencies of each module glued together -->
<script src="assets/components/<%= _.slugify(name) %>-app-latest.min.js"></script>

<!-- module's Angular.js controllers, directives, etc. -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/<%= appName %>.js"></script>

<!-- components partial -->
<div ng-include="'assets/views/<%= appName %>.html'"></div>
<!-- div ng-include="'../../modules/replace-with-some-module/assets/views/replace-with-some-module.html'"></div !-->

<!-- interfaces -->
<script src="scripts/services/eventService.js"></script>
<!-- script src="scripts/interfaces/someModuleInterface.js"></script> -->

<!-- modules scripts - such as directives and controllers -->
<!-- uglify -->
<!-- script src="../../dist/assets/components/<%= _.slugify(name) %>-app-modules-latest.min.js"></script>
<!-- or beautify -->
<script src="../../dist/assets/components/<%= _.slugify(name) %>-app-modules-beautify-latest.js"></script>

</body>
</html>
