<!doctype html>
<html ng-app="<%= moduleName %>">
<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <title><%= moduleName %></title>

  <!-- global style -->
  <link href="../../dist/assets/styles/<%= projectName %>-global-components-latest.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/styles/<%= moduleName %>.css">
</head>

<body>
<!-- src global libraries here-->
<script src="../../dist/assets/components/<%= projectName %>-global-components-latest.min.js"></script>
<script src="../../dist/assets/components/<%= projectName %>-global-components-dev-dependencies-latest.min.js"></script>

<!-- interface -->
<script src="<%= moduleName %>Interface.js"></script>

<!-- module's Angular.js controllers, directives, etc. -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/<%= moduleName %>.js"></script>

<!-- components partial -->
<div ng-include src="'assets/views/<%= moduleName %>.html'"></div>

</body>
</html>
