<!doctype html>
<html ng-app="<%= moduleName %>">
<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <title><%= moduleName %></title>

  <link rel="stylesheet" href="assets/styles/<%= moduleName %>.css">
</head>

<body>
<!-- src global libraries here-->
<!-- Angular libs -->
<script src="../../assets/bower_components/angular/angular.js"></script>


<!-- implement -->

<!-- module's Angular.js controllers, directives, etc. -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/<%= moduleName %>.js"></script>

<!-- components partial -->
<div ng-include src="'assets/views/<%= moduleName %>.html'"></div>

</body>
</html>
